---
layout: base
---
<article class="practice">
  <header class="page-header">
    <span class="tag tag--practices">Practice</span>
    <h1>{{ title }}</h1>
  </header>
  <div class="prose container">
    {{ content | safe }}
  </div>
</article>
